{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Podotree Thanks</title>
    <link rel="stylesheet" type="text/css" href="{% static "thanks/css/reset.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "thanks/css/thanks.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "thanks/css/header.css" %}">
    <link rel="Shortcut Icon" type="image/x-icon" href="/images/favicon.ico" />
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200italic'
          rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="header">
        <div class="header_wrap">
            <h1><a href="#" rel="external">pThanks</a></h1>
            <div class="float_wrap">
                <ul>
                    <li><a href="#"> 하트 10개</a></li>
                    <li><a href="#"> My pThanks</a></li>
                    <li><a href="#"> Login</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="content_body">
        <div class="contents">

            {% if latest_thanks_list %}
            <ul>
                {% for question in latest_thanks_list %}
                <li><a href="/thanks/{{ question.id }}/">{{ question.memo}}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No thanks are available.</p>
            {% endif %}


        </div>
    </div>
    <footer>
      <strong>Podotree</strong>
      <p>&copy;2010 Podotree.Inc
         All rights reserved.</p>
    </footer>
    <script>
    </script>
  </body>
</html>






